/* css for index page */
#pagecontent{
    margin: auto;
    width: 30%;
    /* background-color: grey; */
    /* border-radius: 7%; */
}

#registerPrompt{
    display: none;
}

#loginContent{
    margin: auto;
    margin-top: 10%;
    width: 50%;
    
}

#registerContent{
    margin: auto;
    margin-top: 10%;
    width: 50%;
}

.formField{
    display: block;

}

h1{
    font-size: 3rem;
    color: #A3333D;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h3{
    font-size: 2rem;
    color: #291F1E;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}

#pagecontent{
    margin-top: 3%;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
  max-width: 80%;

}

button{
    background-color: #6AB1DD;
    min-height: 30px;
    border-color: #6AB1DD ;
    border-radius: 10px;
    min-width: 70px;
    
}
button:hover {
    background-color: #F64740; /* Green */
    color: white;
  }